@{

    Event[] events = ViewBag.events;
}

@foreach(var e in events){
    <p>@e.EventName</p>
    <p>@e.Price</p>
    <p>@e.Time.Hours:@e.Time.Minutes</p>
    <p>@e.Date.Day/@e.Date.Month/@e.Date.Year</p>

    <hr />
}


