
@{
   var Event = ViewBag.Event;
}

<h2>Event #1</h2>
<p> Event name: @Event.EventName</p>
<p> Price for a ticket is: @Event.Price</p>
<p> The event will take place at @Event.Location</p>
<p> Remember the event ID for this event is @Event.EventID</p>

    