
@{
    
}

<h2>CheckTickets</h2>

<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputTicketID" placeholder="Ticket ID">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Validate</button>
</form>

