
@{

}

<h2>Create Organizer account</h2>

<form>
<label>Email Address </label>
<input type="text" />

<label>Password</label>
<input type="password" />

<input type="submit" value="Create User" />
</form>