
@{

}

<h2>Organizer Login-page</h2>

<form>
    <label>Email Address </label>
    <input type ="text"/>

    <label>Password</label>
    <input type="password" />

    <input type="submit" />


    <p>Click here to register as new user</p>
    <button>Click Me</button>
</form>

