
@{

}

<h2>Organizer Login-page</h2>

@using (Html.BeginForm())
{
    @Html.Label("Name") <br />
    @Html.TextBox("Name")<br />

    <Br>

    @Html.Label("Password") <br />
    @Html.TextBox("Password")<br />


    <button type="submit"> Submit </button>
}






