<<<<<<< HEAD
﻿
@{
    ViewData["Title"] = "Organizer LandingPage";
}

<div class="row">
    <div class="col-12">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="row">
            <a href="#" class="btn btn-primary w-100 mt-2">+ Create event</a>
    </div>
    <div class="card w-100 mt-3">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <img src="https://via.placeholder.com/100" alt="Alternate Text" />
                    </div>
                    <div class="col-4">
                        <h5 class="card-title">Event Name</h5>
                        <p class="mb-0">Date</p>
                        <p class="mb-0">Time</p>
                        <p class="mb-0">Location</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0 mt-3">32 tickets total</p>
                        <p class="mb-0 mt-3">30 tickets sold</p>
                    </div>
                    <div class="col-2 text-center">
                        <a href="#" class="btn btn-primary mb-2 mt-2 w-100">View event</a>
                        <a href="#" class="btn btn-primary w-100">Edit event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card w-100 mt-3">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <img src="https://via.placeholder.com/100" alt="Alternate Text" />
                    </div>
                    <div class="col-4">
                        <h5 class="card-title">Event Name</h5>
                        <p class="mb-0">Date</p>
                        <p class="mb-0">Time</p>
                        <p class="mb-0">Location</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0 mt-3">100 tickets total</p>
                        <p class="mb-0 mt-3">43 tickets sold</p>
                    </div>
                    <div class="col-2 text-center">
                        <a href="#" class="btn btn-primary mb-2 mt-2 w-100">View event</a>
                        <a href="#" class="btn btn-primary w-100">Edit event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

=======
﻿
@{
    ViewData["Title"] = "Organizer LandingPage";
    var login = (string)ViewBag.login;
}
<h3>@ViewBag.Login</h3>

@if (login == "loggedin")
{
    <p> Du er logget ind</p>
}
else
{
    <p>Du er logget ud</p>
}
<div class="row">
    <div class="col-12">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="row">
        <a href="#" class="btn btn-primary w-100 mt-2">+ Create event</a>
    </div>
    <div class="card w-100 mt-3">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <img src="https://via.placeholder.com/100" alt="Alternate Text" />
                    </div>
                    <div class="col-4">
                        <h5 class="card-title">Event Name</h5>
                        <p class="mb-0">Date</p>
                        <p class="mb-0">Time</p>
                        <p class="mb-0">Location</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0 mt-3">32 tickets total</p>
                        <p class="mb-0 mt-3">30 tickets sold</p>
                    </div>
                    <div class="col-2 text-center">
                        <a href="#" class="btn btn-primary mb-2 mt-2 w-100">View event</a>
                        <a href="#" class="btn btn-primary w-100">Edit event</a>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="card w-100 mt-3">
        <div class="card-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <img src="https://via.placeholder.com/100" alt="Alternate Text" />
                    </div>
                    <div class="col-4">
                        <h5 class="card-title">Event Name</h5>
                        <p class="mb-0">Date</p>
                        <p class="mb-0">Time</p>
                        <p class="mb-0">Location</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0 mt-3">100 tickets total</p>
                        <p class="mb-0 mt-3">43 tickets sold</p>
                    </div>
                    <div class="col-2 text-center">
                        <a href="#" class="btn btn-primary mb-2 mt-2 w-100">View event</a>
                        <a href="#" class="btn btn-primary w-100">Edit event</a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

>>>>>>> LoginFunc
